node_modules/
**/node_modules/

.git/
.env
.env.*
!.env.example
!.env.local.example
!.env.stage.example
!.env.production.example

dist/
**/dist/
build/
**/build/
.next/
**/.next/
coverage/
**/coverage/
playwright-report/
**/playwright-report/
test-results/
**/test-results/

.turbo/
**/.turbo/
*.tsbuildinfo
**/*.tsbuildinfo

*.log
*.crt
