node_modules/

.env
.env.*
!.env.example
!.env.local.example
!.env.stage.example
!.env.production.example

dist/
build/
.next/
next-env.d.ts
storybook-static/
coverage/
playwright-report/
test-results/

.turbo/
*.tsbuildinfo

*.log
*.crt
